<div class="manu_details">

  <div class="cat-title">
    <p> <%= @category.name %> </p>
  </div>

  <div class="add">
    <a href="/categories/<%= @category.id %>/edit">EDIT</a>
  </div>

  <form method ="post" action="/categories/<%=@category.id %>/delete">
    <div class="del-btn">
      <input type="submit" value=Delete Category" />
    </div>
  </form>

</div>

<table class="bikes">
  <tr>
    <th><p>NAME</p></th>
    <th><p>MANUFACTURER</p></th>
    <th><p>DESCRIPTION</p></th>
    <th><p>BUY</p></th>
    <th><p>SELL</p></th>
    <th><p>PROFIT</p></th>
    <th><p>QTY</p></th>
    <th><p>STATUS</p></th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td><%= product.manufacturer %></td>
    <td><%= product.description %></td>
    <td><%= product.buy_cost %></td>
    <td><%= product.sell_price %></td>
    <td><%= product.profit_margin %></td>
    <td><%= product.quantity %></td>
    <td id="status"><%= product.status %></td>
  </tr>
  <% end %>
</table>
