<img src="/<%= @manufacturer.logo_url %>"/>
<h2>Contact Details: <%= @manufacturer.contact_details %> </h2>
<hr/>
<p>Bikes:</p>

<table id="bikes">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Buy Cost</th>
    <th>Sell Price</th>
    <th>Profit Margin</th>
    <th>Quantity</th>
    <th>Status</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td><%= product.description %></td>
    <td><%= product.buy_cost %></td>
    <td><%= product.sell_price %></td>
    <td><%= product.profit_margin %></td>
    <td><%= product.quantity %></td>
    <td id="status"><%= product.status %></td>
  </tr>
  <% end %>
</table>



<a href="/manufacturers/<%= @manufacturer.id %>/edit">Edit</a>

<form method ="post" action="/manufacturers/<%=@manufacturer.id %>/delete">
    <input type="submit" value=Delete Manufacturer" />
  </form>
