<img src="/<%= @manufacturer.logo_url %>"/>
<h2>Contact Details: <%= @manufacturer.contact_details %> </h2>
<hr/>
<p>Bikes:</p>
<ul>
  <% for product in @products %>
  <li><p>Name: <%= product.brand_name %> </p></li>
  <li><p>Description: <%= product.description %> </p></li>
  <li><p>Buy Cost: £<%= product.buy_cost %> </p></li>
  <li><p>Sell Price: £<%= product.sell_price %> </p></li>
  <li><p>Profit Margin: £<%= product.profit_margin %> </p></li>
  <li><p>Category: <%= product.category %> </p></li>
  <hr/>
  <% end %>
</ul>

<a href="/manufacturers/<%= @manufacturer.id %>/edit">Edit</a>

<form method ="post" action="/manufacturers/<%=@manufacturer.id %>/delete">
    <input type="submit" value=Delete Manufacturer" />
  </form>
