<h2>Products:</h2>

<form method="get" action="/products/manufacturer/">
<label for="manufacturer_select">Filter by  Manufacturer:</label>
  <select name="manufacturer_id" id="manufacturer_select">
    <% @manufacturers.each do |manufacturer| %>
        <option value=<%= manufacturer.id %>><%= manufacturer.name %></option>
      <% end %>
  </select>
  <input type="submit" value="Filter Products"/>
  </form>
  



<ul>
  <% @products %>
  <% for product in @products %>
  <li><p>Name: <a href="/products/<%= product.id %>"><%= product.brand_name %></a></p></li>
  <li><p>Category: <%= product.category %> Bike</p></li>
  <li><p>Description: <%= product.description %></p></li>
  <li><p>Buy Cost: £<%= product.buy_cost %></p></li>
  <li><p>Sell Price: £<%= product.sell_price %></p></li>
  <li><p>Profit Margin: £<%= product.profit_margin %></p></li>
  <li><p>Quantity: <%= product.quantity %></p></li>
  <li><h3><%= product.status %></h3></li>
  <hr/>
  <% end %>
</ul>

<a href="/products/new">Add Product</a>
