
<img src="/<%=@product.brand_logo%>">
<h1><%= @product.brand_name %></h1>
<h3>Category: <%= @product.category %> Bike</h3>
<p>Description: <%= @product.description %></p>
<h3>Buy Cost: £<%= @product.buy_cost %></h3>
<h3>Sell Price: £<%= @product.sell_price %></h3>
<h3>Profit Margin: £<%= @product.profit_margin %></h3>
<h3>Quantity: <%= @product.quantity %> <%= @product.status %>  </h3>

<a href="/products/<%= @product.id %>/edit">Edit</a>

<form method ="post" action="/products/<%=@product.id %>/delete">
    <input type="submit" value=Delete Product" />
  </form>

<form method ="post" action="/products/<%=@product.id %>/buy">
    <input type="num" min=0 name="buy_amount">
    <input type="submit" value="Buy" />
  </form>

<form method ="post" action="/products/<%=@product.id %>/sell">
    <input type="num" min=0 name="sell_amount">
    <input type="submit" value="Sell" />
  </form>
